html {
    font-size: 16px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

/* -------------------------------------- REMOVING SHADOWS -------------------------------------- */
/* focus on deez nuts */
.btn:focus, .a:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/* -------------------------------------- SHADOWS -------------------------------------- */
div.nav_bar_shadow :hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24),0 2px 2px 0 rgba(0,0,0,0.19);
}

/* shadow for buttons/href/anything that would want shadow on hover lol */
.shadowe :hover {
    background-color: #e8e8e8;
}

.shadoweP:hover {
    background-color: #e8e8e8;
}

/* -------------------------------------- HEADER CLASSES -------------------------------------- */
header.header {
    background-color: white;
    width: 100vw;
}

div.header_div {
    align-items: center;
    display: flex;
    padding-inline-start: 40px;
    padding-inline-end: 58px;
    height: 80px;
}

div.logo {
    position: relative;
    height: 100%;
    align-items: center;
    display: flex;
    flex: 1 0 0px;
}

@media (min-width: 900px) {
    div.stretch {
        flex: 1 0 auto;
    }
}

div.stretch {
    flex: 1 0 0px;
}

nav.header_navbar {
    display: flex !important;
    position: relative;
    align-items: center;
    height: 80px;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
    a.href_button {
        font-size: 14px;
        min-height: 50px;
        min-width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        font-weight: bold;
    }

    button.globe_button {
        min-height: 50px;
        min-width: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
    }

/* -------------------------------------- FORM CLASSES -------------------------------------- */
form.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-inline-end: 68px;
    padding-inline-start: 50px;
}

div.form_border {
    min-width: 650px;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    display: inline-flex;
}

div.form_container {
    display: flex;
    width: 100%;
    border-radius: 50px;
}

div.form_container2 {
    display: flex;
    width: 100%;
    border-radius: 50px;
}

div.label_box {
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 50px;
    height: 100%;
}

.input {
    width: 100%;
    padding: 0 0 0 0;
    outline: none;
    text-overflow: ellipsis;
    background: none !important;
    font-weight: 600;
    font-size: 12px;
}

div.who_container {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin-inline-end: -50px;
    z-index: 1;  
}

    div.who_container:hover {
        background-color: #e8e8e8;
    }

div.search_button_box {
    width: 1px;
    align-content: center;
    text-align: right;
}

div.search_button_box :hover  {
    background-color: #cf1b3c !important;
}

button.search_button {
    width: 48.5px;
    height: 48.5px;
    position: relative;
    background-color: #ff385c;
    border: none;
    color: white;
    border-radius: 24px;
    margin-inline-end: 8px;
    right: 6px;
}

svg.search_icon {
    background: none !important;
    stroke-width: 2;
    stroke: currentColor;
    overflow: visible;
}

/* DROPDOWN WINDOWS IN FORM */
div.dropdown_window {
    padding: 20px;
    display: none;
    background: white;
    position: absolute;
    z-index: 1;
    overscroll-behavior: contain;
    top: 100%;
    max-height: calc(100vh - 170px);
    height: 405px;
    border-radius: 29px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-block-start: 12px;
}

div.dropdown_window_header {
    margin-block-end: 15px;
    margin-inline-start: 8px;
    font-weight: bold;
}

div.dropdown_window_grid {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-row-gap: 5px;
}

div.region_box {
    padding: 8px;
    width: 100%;
    row-gap: 5px;
    display: grid;
    border-radius: 10px
}

img.image_box {
    border-radius: 10px;
    width: 100%;
}

div.guest_box {
    padding-block-start: 24px;
    padding-block-end: 24px;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.guest_button_decrease {
    display: flex;
    align-items: center;
    border-radius: 80px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    padding: 0px;
    justify-content: center;
    border-color: #dcdcdc;
    background-color: white;
    color: #dcdcdc;
}

button.guest_button_increase {
    display: flex;
    align-items: center;
    border-radius: 80px;
    width: 30px;
    height: 30px;  
    border: 1px solid black;
    padding: 0px;
    justify-content: center;
}

button.guest_button_color {
    border-color: #8f8f8f;
    background-color: white;
    color: #8f8f8f;
}

    button.guest_button_color:hover {
        border-color: black;
        background-color: white;
        color: black;
    }

div.month_name {
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    user-select: none;
}

ul.days_list {
    list-style-type: none;
    font-size: 12px;
    padding: 0px;
    margin: 1px;
    user-select: none;
    margin-block-end: 20px;
    display: flex;
    max-width: 350px;
    justify-content: space-between;
}

li.box {
    width: 50px;
    text-align: center;
}

table.nothing {
    /* css class just so i can easly remove tables in calendars... lol */
    border-spacing: 0px 2px;
    border-collapse: unset;
}

td.td_box {
    padding: 0px;
    width: 50px;
    height: 50px;
    position: relative;
}

@media (max-width: 970px) {
    #Calendar2 {
        display: none;
    }

    #MonthsBlockCalendarStartRight {
        display: none;
    }

    #MonthsBlockCalendarEndRight {
        display: none;
    }
}

div.calendars {
    display: flex;
    width: 100%;
    justify-content: center;
}

div.box {
    height: 49px;
    width: 49px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    user-select: none;
    font-weight: 600
}

    div.box:hover {
        border-color: black !important;
    }

    div.box_new_hover
    {
        background-color: black;
        color: white;
    }

div.box_past {
    height: 49px;
    width: 49px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    color: #dcdcdc;
    user-select: none;
}

div.blank_box {
    height: 49px;
    width: 49px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    
}

button.resetDatesForm {
    position: relative;
    top: -57px;
    border-radius: 50px;
    z-index: 100;
    background: transparent;
    border: none;
    width: 25px;
    height: 25px;
    padding: 0px;
    left: 88px;
    display: none;
}

button.PM {
    border-radius: 50px;
    background-color: white;
    padding: 6px 10px;
    border: 1px solid #d1d1d1;
}

    button.PM:hover {
        border-color: black;
    }

div.months_block_header {
    display: flex;
    justify-content: center;
    margin-block-start: 20px;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
}

div.months_block_BigScaryCircle {
    width: 350px;
    height: 350px;
    position: relative;
}

div.months_block_footer {
    display: flex;
    justify-content: center;
    margin-block-start: 20px;
    align-items: center;
}

div.months_circle_dot {
    position: absolute;
    height: 30px;
    width: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    user-select: none;
    z-index: -1;
}

button.when_buttons {
    text-decoration: underline;
    font-weight: bold;
    background: none;
    border: none;
}

/* modal testing */

div.modal_window {
    display: none;
    position: absolute;
    width: 800px;
    height: 450px;
    left: calc(50% - 400px);
    top: 70px;
    background: white;
    z-index: 1000;
    animation: openModal 0.2s;
    opacity: 1;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;
    max-height: calc(100vh - 130px);
}

div.modal_background {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 999;
    background-color: black;
    opacity: 0.4;
    animation: fadeIn 0.2s;
}

div.modal_header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    padding: 15px;
}

div.modal_body {
    width: 100%;
    height: auto;
    padding: 15px;
}

div.modal_footer {
    width: 100%;
    height: 20%;
    padding: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
}

/*this is cool wtf*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes openModal {
    0% {
        top: 0px;
        opacity: 0;
    }

    100% {
        top: 70px;
        opacity: 1;
    }
}

div.invalid_day_popup {
    background-color: white;
    width: 150px;
    height: 30px;
    display: none;
    left: 0px;
    right: 0px;
    transform: translate(-50.5px, -80px);
    position: absolute;
    z-index: 10;
    text-align: center;
    border-radius: 3px;
}
/*flexible month block in calendar stuff*/
button.stay_button {
    border-radius: 50px;
    border: 1px solid #dddddd;
    background: white;
    padding: 0px 5px;
    width: 90px;
    text-align: center;
}

    button.stay_button:hover {
        border: 1px solid black;
    }

button.month_card {
    border-radius: 10px;
    border: 1px solid #dddddd;
    background: white;
    min-height: 140px;
    min-width: 108px;
}

    button.month_card:hover {
        border: 1px solid black;
    }

div.month_card_calendarSVG {
    display: flex;
    justify-content: center;
}

div.month_card_month {
    display: flex;
    justify-content: center;
    margin-block-start: 3px;
    font-size: 16px;
}

div.month_card_year {
    display: flex;
    justify-content: center;
    margin-block-start: 3px;
    font-size: 16px;
}




/*loginababababa*/
button.login_dropdown_button {
    display: flex;
    background: none;
    border: none;
    padding: 13px 10px;
    width: 100%;
    font-size: 14px;
}

/* -------------------------------------- SCROLL MENU CLASSES -------------------------------------- */
div.scroll_bar {
    position: sticky;
    min-height: 80px;
    transition: 0.2s;
    background-color: white;
    align-items: center;
    display: flex;
    grid-column-gap: 30px;
    width: 100vw;
    padding-inline-start: 40px;
    padding-inline-end: 58px;
    top: 162px;
}

div.scrollmenu {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    grid-column-gap: 15px;
}

    div.scrollmenu a {
        color: black;
        text-align: center;
        text-decoration: none;
    }

        div.scrollmenu a:hover {
            font-weight: bold;
        }

button.filter {
    min-width: 100px;
    min-height: 50px;
    border-radius: 15px;
}