html {
    font-size: 16px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* 
   other fix didnt work somehow shit broke 
   and this is the solution to scrollbar nightmare (html and body class)
*/
html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-x: hidden;
}


/* -------------------------------------- REMOVING SHADOWS -------------------------------------- */
/* focus on deez nuts */
.btn:focus, .a:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/* -------------------------------------- SHADOWS -------------------------------------- */
div.nav_bar_shadow :hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24),0 2px 2px 0 rgba(0,0,0,0.19);
}

/* shadow for buttons/href/anything that would want shadow on hover lol */
.shadowe :hover {
    background-color: #e8e8e8;
}

/* -------------------------------------- HEADER CLASSES -------------------------------------- */
header.header {
    background-color: white;
    width: 100vw;
}

div.header_div {
    align-items: center;
    display: flex;
    padding-inline-start: 40px;
    padding-inline-end: 58px;
    height: 80px;
}

div.logo {
    position: relative;
    height: 100%;
    align-items: center;
    display: flex;
    flex: 1 0 0px;
}

@media (min-width: 900px) {
    div.stretch {
        flex: 1 0 auto;
    }
}

div.stretch {
    flex: 1 0 0px;
}

nav.header_navbar {
    display: flex !important;
    position: relative;
    align-items: center;
    height: 80px;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
    a.href_button {
        font-size: 14px;
        min-height: 50px;
        min-width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        font-weight: bold;
    }

    button.globe_button {
        min-height: 50px;
        min-width: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
    }

/* -------------------------------------- FORM CLASSES -------------------------------------- */
form.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-inline-end: 68px;
    padding-inline-start: 50px;
}

div.form_border {
    min-width: 650px;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    display: inline-flex;
}

div.form_container {
    display: flex;
    width: 100%;
    border-radius: 50px;
}

div.label_box {
    padding: 11px 22px;
    font-size: 14px;
    border-radius: 50px;
}

input.input {
    width: 100%;
    padding: 0 0 0 0;
    outline: none;
    text-overflow: ellipsis;
    background: none !important;
}

div.who_container {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin-inline-end: -50px;
    z-index: 1;  
}

    div.who_container:hover {
        background-color: #e8e8e8;
    }

div.search_button_box {
    width: 1px;
    align-content: center;
    text-align: right;
}

div.search_button_box :hover  {
    background-color: #cf1b3c !important;
}

button.search_button {
    width: 48.5px;
    height: 48.5px;
    position: relative;
    background-color: #ff385c;
    border: none;
    color: white;
    border-radius: 24px;
    margin-inline-end: 8px;
    right: 6px;
}

svg.search_icon {
    background: none !important;
    stroke-width: 2;
    stroke: currentColor;
    overflow: visible;
}

/* DROPDOWN WINDOWS IN FORM */
div.dropdown_window {
    padding: 20px;
    display: none;
    background: white;
    position: absolute;
    z-index: 1;
    overscroll-behavior: contain;
    top: 100%;
    max-height: calc(100vh - 170px);
    height: 405px;
    border-radius: 29px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-block-start: 12px;
}

div.dropdown_window_header {
    margin-block-end: 15px;
    margin-inline-start: 8px;
    font-weight: bold;
}

div.dropdown_window_grid {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-row-gap: 5px;
}

div.region_box {
    padding: 8px;
    width: 100%;
    row-gap: 5px;
    display: grid;
    border-radius: 10px
}

img.image_box {
    border-radius: 10px;
    width: 100%;
}

div.guest_box {
    padding-block-start: 24px;
    padding-block-end: 24px;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.guest_button_decrease {
    display: flex;
    align-items: center;
    border-radius: 80px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    padding: 0px;
    justify-content: center;
    border-color: #dcdcdc;
    background-color: white;
    color: #dcdcdc;
}

button.guest_button_increase {
    display: flex;
    align-items: center;
    border-radius: 80px;
    width: 30px;
    height: 30px;  
    border: 1px solid black;
    padding: 0px;
    justify-content: center;
}

button.guest_button_color {
    border-color: #8f8f8f;
    background-color: white;
    color: #8f8f8f;
}

    button.guest_button_color:hover {
        border-color: black;
        background-color: white;
        color: black;
    }

li.box {
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 0px;
}

div.box {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    margin: 1px;
}

    div.box:hover {
        background-color: white;
        border-color: red;
    }


/* -------------------------------------- SCROLL MENU CLASSES -------------------------------------- */
div.scroll_bar {
    position: sticky;
    min-height: 80px;
    transition: 0.2s;
    background-color: white;
    align-items: center;
    display: flex;
    grid-column-gap: 30px;
    width: 100vw;
    padding-inline-start: 40px;
    padding-inline-end: 58px;
    top: 162px;
}

div.scrollmenu {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    grid-column-gap: 15px;
}

    div.scrollmenu a {
        color: black;
        text-align: center;
        text-decoration: none;
    }

        div.scrollmenu a:hover {
            font-weight: bold;
        }

button.filter {
    min-width: 100px;
    min-height: 50px;
    border-radius: 15px;
}