html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    /* 
        FROM THIS POINT ONWARD I HATE SCROLLBARS
        100 answers from internet useless and my 1 random thought i didnt want to try worked
        lesson to learn - listen to myself, stupid
        html - scrollbar-gutter: auto
        header - width: 100vw;
        might need to do body width 100vw later so just in case writing this too
    */
    scrollbar-gutter: auto;
    overflow-x: hidden;
}


/* -------------------------------------- REMOVING SHADOWS -------------------------------------- */
/* focus on deez nuts */
.btn:focus, .a:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/* -------------------------------------- SHADOWS -------------------------------------- */
div.nav_bar_shadow :hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24),0 2px 2px 0 rgba(0,0,0,0.19);
}

/* shadow for buttons/href/anything that would want shadow on hover lol */
.shadowe :hover {
    background-color: #cacaca;
}

/* -------------------------------------- HEADER CLASSES -------------------------------------- */
header.header {
    background-color: white;
    position: sticky;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
}

div.header_div {
    align-items: center;
    display: flex;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    height: 80px
}

div.logo {
    position: relative;
    width:100%;
}

div.top_buttons {
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    min-width: 348px;
    text-align: center;
    position: relative;
    transition: 0.2s;
}

nav.header_navbar {
    display: flex !important;
    position: relative;
    align-items: center;
    justify-content: flex-end !important;
    height: 80px;
    width: 100%;
}
    a.href_button {
        font-size: 14px;
        min-height: 50px;
        min-width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
    }

    button.globe_button {
        min-height: 50px;
        min-width: 50px;
        left: -15px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
    }

/* -------------------------------------- FORM CLASSES -------------------------------------- */
div.stays_menu_buttons {
    border-radius: 50px;
    position: relative;
    display: inline-block;
    top: 28px;
    top: 100px;
    position: fixed;
    transition: 0.2s;
}

div.form_div_text {
    font-weight: bold;
    background: none !important;
    text-align: left;
    padding-inline-start: 2px;
}

div.form_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 66px;
    min-width: 650px;
}

/* -------------------------------------- SCROLL MENU CLASSES -------------------------------------- */
div.scrollmenu {
    display: inline-block;
    display: flex;
    align-items: center;
    background-color: white;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    grid-column-gap: 15px;
}

    div.scrollmenu a {
        display: inline-block;
        color: black;
        text-align: center;
        text-decoration: none;
    }

        div.scrollmenu a:hover {
            font-weight: bold;
        }

div.scroll_bar {
    position: sticky;
    top: 150px;
    min-height: 80px;
    transition: 0.2s;
    background-color: white;
    align-items: center;
    display: flex;
    grid-column-gap: 30px;
}

button.filter {

    min-width: 100px;
    min-height: 50px;
    border-radius: 15px;
}